body {
    margin:0;
    padding:0;
    background: #1a2d35;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;
}

.content-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:white;
    background:#284551;
    border-radius:50px;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.04);
    /* padding-left:60px;
    padding-right:60px; */
    padding:60px;
    gap:50px;
}

.main-image {
    width:400px;
}

@media (max-width: 1000px) {
    .content-contain {
        flex-direction: column;
    }

    .container {
        height:auto;
        width:auto;
    }
}

/* .text-contain {
    margin-right: 50px; 
} */

.text-contain h1 {
    font-size:60pt;
    /* border:2px solid red; */
}

.text-contain p {
    font-size: 16pt;
}

@media (max-width: 550px) {
    .text-contain h1 {
        font-size: 40pt;
        /* border:2px solid red; */
    }

    .text-contain p {
        font-size: 14pt;
    }

    .main-image {
        width: 100%;
        height:auto;
    }
    .content-contain {
        padding:40px;
    }
}

.text-contain button {
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background:white;
    border-radius:100px;
    border:0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.content-contain img {
    border-radius:30px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.04);
}

.content-contain a {
    text-decoration: none;
    color:black;
    font-size: 34pt;
    opacity:1;

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.content-contain a:hover {
    opacity: 0.6;
}


/* privacy page css */
.privacy-contain {
    background: #284551;
    color:white;
    margin:50px;
    padding:50px;
    border-radius: 25px;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 550px) {
    .privacy-contain {
        margin:15px;
        padding:30px;
    }
}

.privacy-contain a {
    text-decoration: none;
    color: #DAA520;

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.privacy-contain a:hover {
    opacity: 0.6;
}

.footer-links {
    text-align: center;
    margin-bottom: 50px;
    font-size:24pt;
    color:white;
}

.footer-links a {
    text-decoration:none;
    color:white;
    margin-left:5px;
    margin-right: 5px;
    opacity:0.8;

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.footer-links a:hover {
    opacity:0.5;
}